@import "functions";

.details {
    padding-top: rem(71);

    &__h1 {
        margin-bottom: rem(34);
        font-size: rem(27);
        line-height: 138.6%;
        letter-spacing: rem(-1.89);
    }

    &__content {
        margin-bottom: rem(80);
    }

    &__main-description {
        margin-bottom: rem(42);
        padding-bottom: rem(9);
        font-size: rem(14);
        line-height: 191%;
    }

    &__grid {
        display: grid;
        margin-right: rem(75);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: rem(9);
        grid-row-gap: rem(34);

        &:not(:first-child) {
            display: none;
        }
    }

    &__h3 {
        margin-bottom: rem(9);
        font-size: rem(18);
        line-height: 138.6%;
    }

    &__description {
        // padding-right: rem(99);
        font-size: rem(13);
        line-height: 163.7%;
    }
}

.slider-options {
    display: flex;
    align-items: center;
    gap: rem(29);

    &__arrow {
        display: inline-block;
        width: rem(42);
        height: rem(13);
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &__arrow--prev {
        background-image: url("/src/images/svg/arrow-left-inactive.svg");
        transition: background-image 200ms ease;

        &:hover {
            background-image: url("/src/images/svg/arrow-left.svg");
        }
    }

    &__dots-wrapper {
        display: flex;
        gap: rem(18);
    }

    &__dot {
        display: block;
        width: rem(10);
        height: rem(10);
        background-color: var(--main-color-inactive);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 200ms ease;

        &.slider-options__dot--current, &:hover {
            background-color: var(--main-text-color);
        }
    }

    &__arrow--next {
        background-image: url("/src/images/svg/arrow-right-inactive.svg");
        transition: background-image 200ms ease;

        &:hover {
            background-image: url("/src/images/svg/arrow-right.svg");
        }
    }
}